[Desktop Entry]
Encoding=UTF-8
Name=Meow Core
Comment=Connect to the Meow P2P Network
Comment[de]=Verbinde mit dem Meow peer-to-peer Netzwerk
Comment[fr]=Meow, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Meow, eşten eşe kriptografik sanal para birimi
Exec=meow-qt %u
Terminal=false
Type=Application
Icon=meow128
MimeType=x-scheme-handler/meow;
Categories=Office;Finance;
