
## <summary>policy for meow</summary>


########################################
## <summary>
##	Transition to meow.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`meow_domtrans',`
	gen_require(`
		type meow_t, meow_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, meow_exec_t, meow_t)
')


########################################
## <summary>
##	Execute meow server in the meow domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`meow_initrc_domtrans',`
	gen_require(`
		type meow_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, meow_initrc_exec_t)
')


########################################
## <summary>
##	Search meow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`meow_search_lib',`
	gen_require(`
		type meow_var_lib_t;
	')

	allow $1 meow_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read meow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`meow_read_lib_files',`
	gen_require(`
		type meow_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, meow_var_lib_t, meow_var_lib_t)
')

########################################
## <summary>
##	Manage meow lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`meow_manage_lib_files',`
	gen_require(`
		type meow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, meow_var_lib_t, meow_var_lib_t)
')

########################################
## <summary>
##	Manage meow lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`meow_manage_lib_dirs',`
	gen_require(`
		type meow_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, meow_var_lib_t, meow_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a meow environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`meow_admin',`
	gen_require(`
		type meow_t;
		type meow_initrc_exec_t;
		type meow_var_lib_t;
	')

	allow $1 meow_t:process { ptrace signal_perms };
	ps_process_pattern($1, meow_t)

	meow_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 meow_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, meow_var_lib_t)

')

